<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n"/>


    <!-- Настройки для JdbcTemplate -->
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG" additivity="false">
        <appender-ref ref="jdbcTemplateFile"/>
    </logger>

    <!-- Настройки для записи в отдельный файл -->
    <appender name="jdbcTemplateFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/queries.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/queries.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
    </appender>
</configuration>